<div class="card">
    <div class="content">
        <h3>Nota</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam, tempore dicta eum sequi,
            debitis ea consequuntur nulla aut tenetur voluptatem perspiciatis officia obcaecati aliquam
            inventore minus sapiente optio aspernatur quibusdam!</p>
    </div>
    <div class="toggles-card">
        <span class="material-symbols-outlined">
            close
        </span>
        <span class="material-symbols-outlined">
            done
        </span>
    </div>
</div>