<section class="modal modal-update">
    <div class="modal-form">
        <h2>Actualizar nota</h2>
        <form method="post" action="">
            <div>
                <label for="">Titulo</label>
            </div>
            <input name="title" type="text">
            <div>
                <label for="">Texto</label>
            </div>
            <textarea name="body" name="" id="" cols="30" rows="10"></textarea>
            <button class="btn-sumit" type="submit">Crear nota</button>
            <span class="close-modal material-symbols-outlined close-modal-update">
                close
            </span>
        </form>
    </div>
</section>